@page "/custLogin"
@using CafeEPOS.Shared.Layout
@layout NoLayout

<PageTitle>Account Login</PageTitle>

<link rel="stylesheet" href="_content/CafeEPOS.Shared/startingScreenStyles.css" />


<img src="_content/CafeEPOS.Shared/images/ImagePlaceholder.png" width="100" height="100" class="logo" alt="Logo" />
<h1 style="text-align:center; padding-top:20px">Customer Login</h1>

<!--Put login title and input boxs in middle of page-->
<div class="container-fluid1">
    <h2 style="text-align:center">LOGIN</h2>

    <input type="email" placeholder="Enter Email " style="text-align:center" />

    <br />

    <input type="password" placeholder="Enter Password" style="text-align:center" />
</div>

@code {

}
