@page "/custLogin"
@using CafeEPOS.Shared.Layout
@layout NoLayout
@inject NavigationManager navigation
@using Microsoft.Maui.Controls



<PageTitle>Account Login</PageTitle>

<link rel="stylesheet" href="_content/CafeEPOS.Shared/startingScreenStyles.css" />


<img src="_content/CafeEPOS.Shared/images/ImagePlaceholder.png" width="100" height="100" class="logo" alt="Logo" />
<h1 style="text-align:center; padding-top:20px">Customer Login</h1>

<!--Put login title and input boxs in middle of page-->
<div class="container-fluid1">
    <h2 style="text-align:center">LOGIN</h2>

    <input type="email" placeholder="Enter Email" @bind="usernameVal" style="text-align:center; width:50%; border-radius:50px" />

    <br />

    <input type="password" placeholder="Enter Password" @bind="passwordVal" style="text-align:center; width:50%; border-radius:50px" @onkeypress="@Enter" />

    <div class="LoginBackContainer">

        <a href="/">
            <button class="backButton">Back</button>
        </a>

        <button class="loginButton" @onclick="login">Login</button>
    </div>
</div>

<script>
    function showAlert(message) {
        alert(message);
    }
</script>

@code
{
    //Allow me to use JS scripts and call them
    [Inject] IJSRuntime JS { get; set; }

    //Get the values from the userinputs
    public string usernameVal { get; set; }
    public string passwordVal { get; set; }


    //When login button clicked run this method
    public async void login()
    {
        //Not working
#if WINDOWS || MACCATALYST || ANDROID || IOS
    await Application.Current.MainPage.DisplayAlert("Alert", "You have logged in :)", "OK");
#else
        if (usernameVal == "admin" && passwordVal == "Admin123")
        {
            await JS.InvokeVoidAsync("showAlert", $"You have logged in as {usernameVal}");
        }
        else
        {
            await JS.InvokeVoidAsync("showAlert", "Incorrect username or password");
        }
#endif

        //Make Call to Service to login

    }
    
    //Allow user to activate login method when enter key is pressed
    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
        login();
        }
    }
}
