@page "/"
@using CafeEPOS.Shared.Layout
@using CafeEPOS.Shared.Services
@inject IFormFactor FormFactor
@layout NoLayout


<PageTitle>Welcome Screen</PageTitle>

<link rel="stylesheet" href="_content/CafeEPOS.Shared/startingScreenStyles.css" />

<img src="_content/CafeEPOS.Shared/images/eposLogo.png" width="100" height="100" class="logo" alt="Logo" />
<h1 style="text-align:center; padding-top:50px">EASY ORDER EPOS SYSTEM</h1>

<!--Allow buttons to be centered in page-->
<div class="container-fluid1" style="height: 75vh">

    <!--Login button which will take user to login page-->
    <a href="/custLogin">
        <button class="loginButton">LOGIN</button>
    </a>

    <br />

    <!--Register button which will take user to register page-->
    <a href="/custRegister">
        <button class="loginButton">REGISTER</button>
    </a>

</div>

<script src="_content/CafeEPOS.Shared/js/site.js"></script>

@code
{
    [Inject] IJSRuntime JS { get; set; }

    [Inject] LocalStorageService _localStorage { get; set; }

    public string token { get; set; }

    //Not working
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //token = await _localStorage.GetValue("okten");
        }
    }
}
