@using CafeEPOS.Shared.Models


<div class="order-container-wrapper">

    <div class="order-container">

        <OrderCategoryContainer Categories="Categories" OnCategoryChanged="OnSelectedCategoryChanged"></OrderCategoryContainer>

        <div class="order-items">
            
            <OrderMenuContainer MenuItems="MenuItems.Where(x => x.categoryId == SelectedCategory?.Id)"></OrderMenuContainer>

        </div>

        <div class="order-items-checkout">

            wefwef

        </div>
    </div>
    <div class="order-container-footer">
        s
    </div>
</div>

@code
{
    //Category Container Component stuff
    [Parameter]
    public IEnumerable<CategoryModel> Categories { get; set; } = [];

    private CategoryModel? SelectedCategory { get; set; }

    private async Task OnSelectedCategoryChanged(CategoryModel category)
    {
        SelectedCategory = category;
        StateHasChanged();
    }

    //Menu Container Component Stuff
    [Parameter]
    public IEnumerable<MenuModel> MenuItems {get; set; } = [];


}
