html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.loginButton {
    text-align: center;
    background-color: #9BE265;
    border-radius: 50px;
    height: 50px;
    width: 250px;
    border: none
}

    .loginButton:hover {
        background-color: #8AC64F;
    }


.KDSButton {
    text-align: center;
    background-color: grey;
    border-radius: 50px;
    height: 250px;
    width: 250px;
    border: none;
    font-size: 50px;
}

    .KDSButton:hover {
        background-color: #8AC64F;
    }


.EposButton {
    text-align: center;
    background-color: grey;
    border-radius: 50px;
    height: 250px;
    width: 250px;
    border: none;
    font-size: 50px;
}

    .EposButton:hover {
        background-color: #8AC64F;
    }

.backButton {
    text-align: center;
    background-color: #FFA0A0;
    border-radius: 50px;
    height: 50px;
    width: 250px;
    border: none
}

    .backButton:hover {
        background-color: #FF7F7F;
    }

.systemOptionButtons {
    width: 100px;
    height: 100px;
}

.container-fluid1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
}

.LoginBackContainer {
    padding-top: 20px;
}

.table-containter{
    flex-grow:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.gird-button{
    padding: 10px; 20px;
    border: none;
    border-radius:100px;
    text-align:center;
    width: 200px;
    height:150px;
    background-color: gray;
}
.gird-button:hover {
    background-color: #8AC64F;
}


table {
    border-collapse: collapse;
}

td {
    padding: 20px;
}